.btn-1:hover {
  background-color: black;
  color: aliceblue;
}

.btn-2 {
  background-color: black;
  color: white;
}
.btn-2:hover {
  background-color: white;
  color: black;
}

body {
  background-color: rgb(250, 202, 154);
}

.content-title {
  /* background-color: rgb(242, 221, 193);
    border-radius: 2px; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: brown;
  /* text-align: left; */
  /* text-transform: uppercase; */
  animation: animate 1s ease-in-out infinite;
}

@keyframes animate {
  from {
    text-shadow: 0 0 20px rgb(242, 255, 0);
  }
  to {
    text-shadow: 0 0 30px rgb(255, 6, 6), 0 0 10px rgb(255, 0, 0);
  }
}
