.font-change {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.card {
  transition: all 1.2s;
  cursor: pointer;
}

.card:hover {
  transform: scale(0.95);
  z-index: 1;
  background-color: rgb(107, 102, 102);
  color: white;
}

body {
  background-color: antiquewhite;
}
